{"name": "DCID", "website": "https://data.center.org/", "fullName": "Data Center Name", "summary": "One-liner presenting the data center", "repositories": [{"name": "archive", "description": "Archive of continuous seismological data", "website": "https://data.center.org/waveform/", "services": [{"name": "fdsnws-dataselect-1", "description": "Access to raw time series data", "url": "http://data.center.org/fdsnws/dataselect/1/"}, {"name": "fdsnws-station-1", "description": "Access to metadata describing raw time series data", "url": "http://data.center.org/fdsnws/station/1/"}, {"name": "eidaws-wfcatalog", "description": "EIDA WFCatalog service", "url": "http://data.center.org/eidaws/wfcatalog/1/"}], "datasets": []}]}