[Service]
# Base URL of the current Routing Service
baseURL = http://mydomain.dom/eidaws/routing/1
# String that must be returned when the method "config" is called
info = Routing information from the Arclink Server at GEOFON.
   All the routes related to the data in EIDA are supposed to be available here.
# Verbosity of the logging system
# Possible values are:
# CRITICAL, ERROR, WARNING, INFO, DEBUG
verbosity = INFO
# Servers with routes to be imported (name, url)
# synchronize = SERVER2, http://remotehost/eidaws/routing/1
#               SERVER3, http://remotehost2/eidaws/routing/1
synchronize =
# Can overlapping routes be saved in the routing table?
# If yes, the Arclink-inventory.xml must be used to expand the routes and
# produce a coherent response.
allowoverlap = false
