{
  "name": "DATACENTRE",
  "website": "https://domain.name/",
  "fullName": "Full name of the data centre",
  "summary": "This is the data centre description",
  "repositories": [
    {
      "name": "archive",
      "description": "Archive of continuous seismological data",
      "website": "https://domain.name/webpage-archive/",
      "services": [
        {
          "name": "fdsnws-dataselect-1",
          "description": "Access to raw time series data",
          "url": "https://domain.name/fdsnws/dataselect/1/"
        },
        {
          "name": "fdsnws-station-1",
          "description": "Access to metadata describing raw time series data",
          "url": "https://domain.name/fdsnws/station/1/"
        },
        {
          "description": "Availability of time series data",
          "name": "fdsnws-availability-1",
          "url": "https://domain.name/fdsnws/availability/1/"
        },
        {
          "name": "eidaws-wfcatalog",
          "description": "EIDA WFCatalog service",
          "url": "https://domain.name/eidaws/wfcatalog/1/"
        }
      ],
      "datasets": []
    },
    {
      "description": "Event web service",
      "name": "event",
      "services": [
        {
          "description": "Event web service.",
          "name": "fdsnws-event-1",
          "url": "https://domain.name/fdsnws/event/1/"
        }
      ]
    }
  ]
}