#
# EIDA Routing WS prototype
#
# (c) 2014 Javier Quinteros, GEOFON team
# <javier@gfz-potsdam.de>
#
# ----------------------------------------------------------------------

import sys

# More Python 3 compatibility
try:
    import configparser
except ImportError:
    import ConfigParser as configparser

# Read the installation directory
configP = configparser.RawConfigParser()
if len(configP.read('routing.cfg')):
    directory = configP.get('Service', 'directory')
else:
    raise Exception('Option "directory" not found in cfg file')

sys.path.append(directory)
import routing

application = routing.application
