<?xml version="1.0" encoding="utf-8"?>
<ns0:routing xmlns:ns0="http://geofon.gfz-potsdam.de/ns/Routing/1.0/">
 <ns0:vnetwork networkCode="_GEALL">
  <ns0:stream networkCode="GE" stationCode="APE" locationCode="*" streamCode="*" start="2015-01-01T00:00:00" end="2015-12-31T00:00:00" />
  <ns0:stream networkCode="GE" stationCode="BNDI" locationCode="*" streamCode="*" start="2015-01-01T00:00:00" end="2015-12-31T00:00:00" />
  <ns0:stream networkCode="GE" stationCode="RUE" locationCode="*" streamCode="*" start="2015-01-01T00:00:00" end="2015-12-31T00:00:00" />
 </ns0:vnetwork>
 <ns0:route networkCode="RO" stationCode="*" locationCode="*" streamCode="*">
  <ns0:station address="http://eida-sc3.infp.ro/fdsnws/station/1/query" priority="1" start="1980-01-01T00:00:00" end="" />
  <ns0:wfcatalog address="http://eida-sc3.infp.ro/eidaws/wfcatalog/1/query" priority="1" start="1980-01-01T00:00:00" end="" />
  <ns0:dataselect address="http://eida-sc3.infp.ro/fdsnws/dataselect/1/query" priority="1" start="1980-01-01T00:00:00" end="" />
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="2" start="1980-01-01T00:00:00" end="" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="2" start="1980-01-01T00:00:00" end="" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="2" start="1980-01-01T00:00:00" end="" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES27" locationCode="*" streamCode="HNZ">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="GE" stationCode="*" locationCode="*" streamCode="*">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="1993-01-01T00:00:00" end="" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="1993-01-01T00:00:00" end="" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="1993-01-01T00:00:00" end="" />
 </ns0:route>
 <ns0:route networkCode="CH" stationCode="*" locationCode="*" streamCode="*">
  <ns0:station address="http://eida.ethz.ch/fdsnws/station/1/query" priority="1" start="1980-01-01T00:00:00" end="" />
  <ns0:dataselect address="http://eida.ethz.ch/fdsnws/dataselect/1/query" priority="1" start="1980-01-01T00:00:00" end="" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES20" locationCode="*" streamCode="HNE">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES20" locationCode="*" streamCode="HNN">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES27" locationCode="*" streamCode="HNE">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES27" locationCode="*" streamCode="HNN">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="4C" stationCode="KES20" locationCode="*" streamCode="HNZ">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:wfcatalog address="http://geofon.gfz-potsdam.de/eidaws/wfcatalog/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2011-09-15T00:00:00" end="2012-04-20T23:59:00" />
 </ns0:route>
 <ns0:route networkCode="ZE" stationCode="*" locationCode="*" streamCode="*">
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2010-03-17T00:00:00" end="2011-10-22T00:00:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2010-03-17T00:00:00" end="2011-10-22T00:00:00" />
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="1996-09-14T00:00:00" end="1997-12-31T00:00:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="1996-09-14T00:00:00" end="1997-12-31T00:00:00" />
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="2012-04-19T00:00:00" end="2014-12-31T00:00:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="2012-04-19T00:00:00" end="2014-12-31T00:00:00" />
  <ns0:station address="http://geofon.gfz-potsdam.de/fdsnws/station/1/query" priority="1" start="1999-05-01T00:00:00" end="1999-11-01T00:00:00" />
  <ns0:dataselect address="http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query" priority="1" start="1999-05-01T00:00:00" end="1999-11-01T00:00:00" />
 </ns0:route>
</ns0:routing>
